<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>922726283886-rsskvkoc1uinun25gb3o8adi3tu3cpe9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.922726283886-rsskvkoc1uinun25gb3o8adi3tu3cpe9</string>
	<key>API_KEY</key>
	<string>AIzaSyAfvn_G-aOjApuTu1F2MM1ZDw3WidH49zY</string>
	<key>GCM_SENDER_ID</key>
	<string>922726283886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taxis.green</string>
	<key>PROJECT_ID</key>
	<string>taxisgreen-finale</string>
	<key>STORAGE_BUCKET</key>
	<string>taxisgreen-finale.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:922726283886:ios:895fa53ccc06428823c47f</string>
	<key>DATABASE_URL</key>
	<string>https://taxisgreen-finale-default-rtdb.firebaseio.com</string>
</dict>
</plist>